<html>
    <head>
        <title>Employees</title>
    </head>
    <body>
        <h1>Employees</h1>
        <table style="">
            <tr>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Address</th>                
            </tr>
            {% for record in employees %}
            <tr>
                <td>{{ record.id }}</td>
                <td>{{ record.name }}</td>
                <td>{{ record.address }}</td>                
            </tr>
            {% endfor %}
        </table>