<html>
    <head>
        <title>Jobs</title>
    </head>
    <body>
        <h1>Jobs</h1>
        <table border=2 cellpadding=5>
            <tr>
                <th>date of joining</th>
                <th>location</th>
                <th>salary</th>
                <th>qualification</th>
            </tr>
            {% for job in jobs %}
            <tr>
                <td>{{ job.date_of_joining }}</td>
                <td>{{ job.location }}</td>
                <td>{{ job.salary }}</td>
                <td>{{ job.qualification }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
    